%footer.mainFooter
  %section.mainFooter-logo
    = partial 'assets/logoWithPeriod-svg'
    %p
      %span Strategy
      %span Messaging
      %span Content

  %section.mainFooter-contact
    .mainFooter-contact-social
      = link_to '//twitter.com/librettoboston' do
        = partial 'assets/twitter-svg'
      = link_to '//facebook.com/pages/Libretto/56796753771' do
        = partial 'assets/facebook-svg'
    %address.mainFooter-contact-address
      %span 560 Harrison Avenue
      %span Suite 405
      %span Boston, MA 02118
      %span.phone 617.451.5113
    = link_to 'hey@libretto-inc.com', 'mailto:hey@libretto-inc.com'
