%nav.mainNavigation(class = "#{'mainNavigation--miniLogo' if extra_classes == 'index'}")
  = link_to 'index.html', class: 'mainNavigation-logo' do
    = partial 'assets/swash-svg'
    = partial 'assets/logoWithPeriod-svg'
  .mainNavigation-menuExpander
    = partial 'assets/menu-svg'
  .mainNavigation-sections.u-pullRight
    = link_to 'Who We Are', 'who-we-are.html', class: 'mainNavigation-sections-link'
    = link_to 'What We Do', 'what-we-do.html', class: 'mainNavigation-sections-link'
    = link_to 'Our Work', 'our-work.html', class: 'mainNavigation-sections-link'
    = link_to 'The Cobbler’s Children', 'work-detail.html', class: 'mainNavigation-sections-link'
