---
title: 'Fifty Years On'
---

%section.hero.hero--smallMargin
  %h1.hero-headline
    %strong.u-purple Fifty Years On

%p
  Written by
  = link_to 'Neal Kane', '#'
  on December 28, 2014

.blogEntry
  %p Last Christmas I broke down and bought <a href='#'>my partner</a> a flat-screen TV for our house in the Berkshires. We decided to test its Web surfing features: the first thing we watched was a 1965 BBC recording of a concert by Peter, Paul, and Mary.

  %iframe{ :allowfullscreen => 'true', :frameborder => '0', :height => '315', :src => 'https://www.youtube.com/embed/yXoniel6Qn4', :width => '420' }

  %p (As someone sensitive to the vicissitudes of <a href='#'>TLDW</a>, I won’t implore you to watch the whole thing – if you <a href='#'>jump to 27:20</a> and spend five minutes, you’ll see their renditions of “Early in the Morning” and “The Times They Are A-Changin’” and get a taste of what’s on offer.)
  %p What shaped you as a person? What do you value? What makes you happy? What hits you in the solar plexus? If someone were to pose these fundamental, bedrock questions to me, the answer to all four would be found in this performance. Watching it moved and delighted me in multiple dimensions:

  %h3 Musicianship.
  %p The entire production flows from two guitars, a few microphones, an upright bass, and three voices. As an amateur musician who grew up singing and playing with my siblings in my parents’ living room, I understand the incredible degree of exposure inherent in this kind of music making. The intimacy, the weaving together of the intricate three-part harmonies, the dynamic range, and the pure joy and authenticity of their voices is extremely powerful. (In comparison, a show like The Voice, with its unrelenting bombast, contrived narratives, narcissistic judges, and spectacularly overproduced musical numbers feels like a monumental exercise in cynicism and a colossal waste of time.)

  %h3 History.
  %p From the fabulous mid-60s set and the meek politeness of the London audience to the idealism of the times, the concert is a timepiece in many respects. Yet in the quality of the performance, the simplicity of the production values, and the conviction of the musicians, one finds a connection to some of music’s most powerful effects – giving voice to the marginalized, building community, and advancing the culture, to name a few. In the era before social media, PP&M’s commitment to social justice was tangible and genuine – for example, they performed at the 1963 March on Washington.

  %iframe{ :allowfullscreen => 'true', :frameborder => '0', :height => '315', :src => 'https://www.youtube.com/embed/nxtPurMRAYY', :width => '420' }

  %h3 Identity.
  %p As a child, PP&M were one of the first groups I was ever exposed to (courtesy of my older siblings). My love of music, my belief in human rights, even my karaoke-loving proclivities – fifty years on, many of the motifs that define my life can be traced to those recordings.
  %p I often think about what it means to grow older gracefully – learning from the past without living in it. (I recently coined the term “obsolescent” – the middle-aged equivalent of “adolescent.”) Last year, one of my friends and colleagues wrote <a href='#'>a book about relevance</a>: for my part, the notion of avoiding irrelevance – or embracing its inevitability – occupies my mind to an increasing degree. I’d like to believe that, paradoxically, one of the best ways to situate oneself in relation to an evolving cultural (and professional) landscape is by acknowledging and celebrating the forces that formed you, and that continue to engage and delight you over time.

%p
  File under
  = link_to 'Background Materials', '#'
  ,
  = link_to 'Other Topics', '#'

.blogExcerpt
  %p Read the next entry:
  = image_tag 'http://placehold.it/200x200', class: 'blogExcerpt-avatar'
  %article
    = link_to 'blog-entry.html', class: 'u-fullLink' do
      .headerGroup.headerGroup--small
        %span.headerGroup-prehead Neal Kane
        %h2.headerGroup-mainhead Fifty Years On
      %p Last Christmas I broke down and bought my partner a flat-screen TV for our house in the Berkshires. We decided to test its Web surfing features: the first thing we watched was a 1965 BBC recording of a concert by Peter, Paul, and Mary.
    %p.blogExcerpt-date
      December 28, 2014, File under
      = link_to 'Background Materials', '#'
