%nav.mainNavigation
  = link_to '/', class: 'mainNavigation-logo' do
    = partial 'assets/swash-svg'
    %span.logotype Libretto.
  .mainNavigation-menuExpander
    = partial 'assets/menu-svg'
  .mainNavigation-sections.u-pullRight
    = link_to 'Who We Are', '/', class: 'mainNavigation-sections-link'
    = link_to 'What We Do', '/', class: 'mainNavigation-sections-link'
    = link_to 'Our Work', '/', class: 'mainNavigation-sections-link'
    = link_to 'The Cobbler’s Children', '/', class: 'mainNavigation-sections-link'
