%nav.mainNavigation
  = link_to '/', class: 'mainNavigation-logo' do
    = partial 'assets/swash'
    Libretto.
  .mainNavigation-sections.u-pullRight
    = link_to 'Who we are', '/'
    = link_to 'What we do', '/'
    = link_to 'Our work', '/'
    = link_to 'The Cobbler’s Children', '/'
