%nav.mainNavigation(class = "#{'mainNavigation--miniLogo' if extra_classes == 'index'}")
  = link_to '/', class: 'mainNavigation-logo' do
    = partial 'assets/swash-svg'
    %span.logotype Libretto.
  .mainNavigation-menuExpander
    = partial 'assets/menu-svg'
  .mainNavigation-sections.u-pullRight
    = link_to 'Who We Are', 'who-we-are.html', class: 'mainNavigation-sections-link'
    = link_to 'What We Do', 'what-we-do.html', class: 'mainNavigation-sections-link'
    = link_to 'Our Work', 'our-work.html', class: 'mainNavigation-sections-link'
    = link_to 'The Cobbler’s Children', 'the-cobblers-children.html', class: 'mainNavigation-sections-link'
