%nav.mainNavigation
  = link_to '/', class: 'mainNavigation-logo' do
    = partial 'assets/swash-svg'
    %span.logotype Libretto.
  .mainNavigation-menuExpander
    = partial 'assets/menu-svg'
  .mainNavigation-sections.u-pullRight
    = link_to 'Who we are', '/', class: 'mainNavigation-sections-link'
    = link_to 'What we do', '/', class: 'mainNavigation-sections-link'
    = link_to 'Our work', '/', class: 'mainNavigation-sections-link'
    = link_to 'The Cobbler’s Children', '/', class: 'mainNavigation-sections-link'
