---
title: 'Our Work'
---

%section.hero.hero--smallMargin
  %h1.hero-headline
    %strong.u-purple Our Work

- 3.times do
  .workPreview
    = link_to 'work-detail.html', class: 'u-fullLink' do
      = image_tag 'http://placehold.it/200x200', class: 'workPreview-image'
      %h2.workPreview-header A theme that journeyed into space.
      %span.u-boxLabel MIT 150: Inventional Wisdom

.workPreview
  = link_to 'work-detail.html', class: 'u-fullLink' do
    = image_tag 'http://placehold.it/200x200', class: 'workPreview-image'
    %h2.workPreview-header Sounds like groundbreaking — and it is.
    %span.u-boxLabel Berklee College of Music

.workPreview.workPreview--fullWidth
  = link_to 'work-detail.html', class: 'u-fullLink' do
    = image_tag 'http://placehold.it/200x200', class: 'workPreview-image'
    %h2.workPreview-header The analytical elegance perseverance curiosity factor.
    %span.u-boxLabel MIT: The Human Factor

.overlayList
  %h2 We work in a wide variety of industries
  %ul.arrowList.arrowList--twoColumns
    %li=link_to 'Education', '#', 'data-overlay-target' => 'education'
    %li=link_to 'Financial Services', '#', 'data-overlay-target' => 'education'
    %li=link_to 'Healthcare and Pharmaceuticals', '#', 'data-overlay-target' => 'education'
    %li=link_to 'Non Profit', '#', 'data-overlay-target' => 'education'
    %li=link_to 'Real Estate, Architecture and Design', '#', 'data-overlay-target' => 'education'
    %li=link_to 'Services', '#', 'data-overlay-target' => 'education'
    %li=link_to 'Technology', '#', 'data-overlay-target' => 'education'

.overlay{ 'data-overlay-name' => 'education' }
  .overlay-gridContainer
    .overlay-lightbox
      %header.overlay-lightbox-header
        %h2 Education Clients
        = partial 'assets/overlay-dismiss-svg'
      .overlay-content
        %ul.flatList.flatList--twoColumns
          %li Art Institute of Boston
          %li Assumption College
          %li Beaver Country Day School 
          %li=link_to 'Berklee College of Music', 'work-detail.html'
          %li Bucknell University
          %li Cambridge College
          %li Cambridge School of Weston
          %li College of Mount St. Vincent
          %li Clark University Graduate School of Management
          %li Dana Hall School
          %li Emerson College 
          %li Hackley School
          %li Harvard Alumni Association
          %li Harvard Business School
          %li Manhattanville College
          %li Meritas Schools
          %li=link_to 'MIT', 'work-detail.html'
          %li MIT CSAIL
          %li MIT Sloan School of Management
          %li MIT BioImaging Center
          %li Pace Law School
          %li Rensselaer
          %li The Summit Country Day School
          %li Susquehanna University
          %li Tufts University School of Dental Medicine 
          %li Wellesley College
          %li Weston Jesuit School of Theology
          %li World Learning
