---
title: 'Who We Are'
---

%section.hero.hero--smallMargin
  %h1.hero-headline
    %strong.u-purple Who We Are

%section.leadingStatement
  %h2 Libretto works with ambitious organizations to define who they are and share their story with the world.
  %p Libretto is a Boston-based firm focused on communications strategy, messaging, content development, and names and themes. Founded in 1995, we work with leading institutions, nonprofits, and companies to identify and articulate the most compelling aspects of their programs, services, and initiatives. 

%section.avatarList
  .avatar.avatar--large
    = link_to '#', class: 'u-fullLink', 'data-overlay-target' => 'neal-kane' do
      %div.avatar-imageWrapper{ style: 'background-image: url(http://placehold.it/500x500)' }
      %span.avatar-position President
      %h4.avatar-name Neal Kane
    .overlay{ 'data-overlay-name' => 'neal-kane' }
      .overlay-gridContainer
        .overlay-lightbox
          %header.overlay-lightbox-header
            %h2 Neal Kane
            = partial 'assets/overlay-dismiss-svg'
          .overlay-content.longform
            .avatar
              %div.avatar-imageWrapper{ style: 'background-image: url(http://placehold.it/500x500)' }
            .overlay-content-contentSide
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis augue massa. Suspendisse eget lectus justo. Fusce elementum nibh vitae dapibus auctor. Nunc ultrices et velit et porta. Phasellus vehicula libero nec gravida cursus. Maecenas sodales purus iaculis, rhoncus ipsum ut, cursus leo. Nulla quis eros est. Nunc mattis lectus vel metus molestie, et faucibus dolor tempor. Mauris nec consequat arcu, ac auctor est. Interdum et malesuada fames ac ante ipsum primis in faucibus.
              %p Praesent mollis est non lorem condimentum consectetur. Maecenas consectetur risus id sapien gravida bibendum. Pellentesque turpis orci, ornare vel auctor at, posuere et augue. Donec ultricies, est vitae placerat egestas, est dui malesuada lectus, ut tempus arcu neque a nisl. Aenean laoreet dui sit amet maximus pulvinar. Curabitur id aliquet nisi. Duis ut malesuada lorem. Duis at est diam. Cras at interdum ligula.
  .avatar.avatar--large
    = link_to '#', class: 'u-fullLink', 'data-overlay-target' => 'first-last' do
      %div.avatar-imageWrapper{ style: 'background-image: url(http://placehold.it/500x500)' }
      %span.avatar-position Associate Creative Director
      %h4.avatar-name Nancy Boissonnet
  .avatar.avatar--large
    = link_to '#', class: 'u-fullLink', 'data-overlay-target' => 'first-last' do
      %div.avatar-imageWrapper{ style: 'background-image: url(http://placehold.it/500x500)' }
      %span.avatar-position Senior Writer
      %h4.avatar-name Jason M Rubin
  .avatar.avatar--large
    = link_to '#', class: 'u-fullLink', 'data-overlay-target' => 'first-last' do
      %div.avatar-imageWrapper{ style: 'background-image: url(http://placehold.it/500x500)' }
      %span.avatar-position Senior Writer
      %h4.avatar-name Alison Case
  .avatar.avatar--large
    = link_to '#', class: 'u-fullLink', 'data-overlay-target' => 'first-last' do
      %div.avatar-imageWrapper{ style: 'background-image: url(http://placehold.it/500x500)' }
      %span.avatar-position Senior Writer
      %h4.avatar-name Natasha Waibel
  .avatar.avatar--large
    = link_to '#', class: 'u-fullLink', 'data-overlay-target' => 'first-last' do
      %div.avatar-imageWrapper{ style: 'background-image: url(http://placehold.it/500x500)' }
      %span.avatar-position Writer
      %h4.avatar-name Adrian Pio
  .avatar.avatar--large
    = link_to '#', class: 'u-fullLink', 'data-overlay-target' => 'first-last' do
      %div.avatar-imageWrapper{ style: 'background-image: url(http://placehold.it/500x500)' }
      %span.avatar-position Position
      %h4.avatar-name First Last

%section.headerList
  %h2.u-purple Contributors
  %ul.inlineList
    %li Chris Kane
    %li Nancy Faris
    %li Alison Case
