---
title: 'MIT 150 Anniversary Theme'
---

%section.hero.hero--smallMargin
  %h1.hero-headline
    .headerGroup
      %h2.headerGroup-mainhead.u-purple MIT 150 Anniversary Theme:
      %h3.headerGroup-subhead Inventional Wisdom

.hero
  = image_tag 'http://placehold.it/1500x800', class: 'hero-image'

%article.workDetail-article
  .workDetail-article-content.longform
    %p.longform-emphasize.u-purple How do you summarize the accomplishments that have taken place over 150 years at the world’s leading institution focused on science and technology – in two words?
    %p Libretto worked with dozens of stakeholders at MIT – including former president Susan Hockfield – to craft an original and thought-provoking phrase that embodied MIT’s unconventional approach to creativity and innovation. The theme had to both inspire and complement programming for a celebration still several years away – a challenge we likened to carving the prow of a nonexistent ship.
    %p To test the viability of various theme candidates, we envisioned each candidate appearing in three diverse applications: at a symposium on molecular biology, a reading by Pulitzer Prize-winning author and MIT professor Junot Díaz, and a public street festival in Cambridge.
    %p The winning candidate, Inventional Wisdom, was a resounding success. The theme was used in conjunction with dozens of events over the course of the 150-day celebration, as well as in a video featuring MIT alumni who were traveling aboard the space station. The theme also earned what was, for us, one of the greatest compliments imaginable when it became the target of a good-natured “hack” by MIT students.
  %aside.workDetail-article-margin{ 'data-filter-by-service-name' => 'three, Messaging' }
    %h4.workDetail-article-margin-title Services:
    %ul.arrowList.arrowList--hangingBullet
      %li
        = link_to 'Names & Themes', 'what-we-do.html#names-and-themes'
      %li
        = link_to 'Messaging', 'what-we-do.html#messaging'
      %li
        = link_to 'Three', 'what-we-do.html#messaging'
      %li
        = link_to 'Four', 'what-we-do.html#messaging'

.workDetail-media
  %figure
    = image_tag 'http://placehold.it/750x400'
  %figure
    = image_tag 'http://placehold.it/750x400'
  %figure
    = image_tag 'http://placehold.it/750x400'

.workDetail-media
  %figure
    = image_tag 'http://placehold.it/750x400'
  %figure
    = image_tag 'http://placehold.it/750x400'

%section.hero.hero--lightBackground
  .quote
    %p Do not hurry, do not rest.
    %span.quote-attribution Goethe
    %span.u-boxLabel Mantra #14

%nav.pagination
  = link_to 'Previous project', '#', class: 'pagination-previous'
  = link_to 'Next project', '#', class: 'pagination-next'
